build/
dist/
indoor_test/
ISLM_footprintViewer/
oldversion/
.vscode/
__pycache__/
*.bmp
*.tmp 
*.jpg
*.log
*.png 
.ico.spec
abaqus.*
*.sfric*
*.txt
*.ui
*.dat
*.zip 
*.spec 
*.axi
*.trd
*.inp 
*.dat
searched*.*
filename_*
TH22_B_01.odb
RND-3002304VT00082-0-S106-0001-3DST.odb
